{% extends 'qa/base.html' %}
{% block content %}
<h1>
	<!-- photo is a boolean passed by the Profile view that is true if the user has a profile photo -->
	{% if photo %}
		<img src="/qa/media/{{ photo }}" class="img-circle">
	{% endif %}
	{{ user.username }} | reputation: {{ reputation }}
</h1>
<br>
<!-- link available to moderators and administrators -->
{% if user.is_staff %}
	<a href="/admin/">Administration Page</a>
{% endif %}
<!-- progress bar representing the total votes a user has received towards a badge -->
{% if user.is_authenticated %}
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
			{{progress}}%
		</div>
	</div>
	<!-- progress_text indicates whether a user has earned the 100 upvote badge and how many more upvotes are required-->
	{{ progress_text }}
	<br>
	<!-- submission form for uploading a profile picture -->
	<form action="{% url 'qa:profile' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input id="id_image" type="file" name="image"/>
		<input type="submit" value="Submit" />
	</form>
{% endif %}
<br />
{% if post_list %}
	<table>
		<caption> {{user.username}}'s Posts </caption>
		<tr>
			<th>Vote Count</th>
			<th>Post</th>
			<th>Delete</th>
		</tr>
    {% for post in post_list %}
			<tr>
				<td>{{post.vote_count}}</td>
				<td><a href="/qa/{{ post.id }}/">{{ post.post_text }}</a></td>
				<td>
					<form action="/qa/profile/" method="post" id="delete">
						{% csrf_token %}
						<input type="hidden" name="hidden" value={{ post.id }}>
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
    {% endfor %}
		</tr>
	</table>
{% else %}
    <p>No posts are available.</p>
{% endif %}

{% if favorites %}
	<table>
		<caption> {{user.username}}'s Favorites </caption>
		<tr>
			<th>Author</th>
			<th>Vote Count</th>
			<th>Post</th>
			<th>Publish Date</th>
		</tr>
    {% for favorite in favorites %}
			<tr>
				<td>{{favorite.author}}</td>
				<td>{{favorite.vote_count}}</td>
				<td><a href="/qa/{{ favorite.id }}/">{{ favorite.post_text }}</a></td>
				<td>{{favorite.pub_date}}</td>
			</tr>
    {% endfor %}
		</tr>
	</table>
{% else %}
    <p>No posts are available.</p>
{% endif %}

<!-- the list of users that have been reported -->
{% if user.is_staff %}
	<h3>Reported Users</h3>
	{% if reportees %}
		<ul class="list-group">
		{% for reported in reportees %}
			<li class="list-group-item">{{ reported.name }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endif %}

{% endblock %}
