body{
	width: 760px; /* how wide to make your web page */
	background-color: teal; /* what color to make the background */
	margin: 0 auto;
	padding: 0;
	font:12px/16px Verdana, sans-serif; /* default font */
}
form {
	background-color: #FFF;
	margin: 0
	padding: 10px;
	display: inline-block;
}
div#main{
	background-color: #FFF;
	margin: 0;
	padding: 10px;
}
table {
	width: 100%;
	font-size: 12;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: white;
    background-color: maroon;
}
.table-submit{
	background-color:maroon;
	border: none;
}
img {
	width:75px;
	height:75px;
}
#logout {
	float: right;
}
ul {
	list-style-type:square;
}
#myProgress {
    width: 25%;
    background-color: gray;
}
#myBar {
    height: 30px;
    background-color: maroon;
}
#pagination {
	display: inline-block;
}
